@page
@model RazorWebApp.Pages.IceCreams.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>IceCream</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IceCream.Id" />
            <div class="form-group">
                <label asp-for="IceCream.Name" class="control-label"></label>
                <input asp-for="IceCream.Name" class="form-control" />
                <span asp-validation-for="IceCream.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IceCream.Price" class="control-label"></label>
                <input asp-for="IceCream.Price" class="form-control" />
                <span asp-validation-for="IceCream.Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IceCream.OnSale" /> @Html.DisplayNameFor(model => model.IceCream.OnSale)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IceCream.SaleDiscount" class="control-label"></label>
                <input asp-for="IceCream.SaleDiscount" class="form-control" />
                <span asp-validation-for="IceCream.SaleDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

